@font-face {
	font-family: "Montserrat";
	src: url("../../assets/fonts/montserrat/ttf/Montserrat-Regular.ttf");
	font-weight: 400;
	font-display: fallback;
}
@font-face {
	font-family: "Montserrat";
	src: url("../../assets/fonts/montserrat/ttf/Montserrat-Bold.ttf");
	font-weight: 700;
	font-display: fallback;
}
@font-face {
	font-family: "Source Sans Pro";
	src: url("../../assets/fonts/source_sans_pro/ttf/SourceSansPro-Regular.ttf");
	font-weight: 400;
	font-display: fallback;
}
@font-face {
	font-family: "Open Sans";
	src: url("../../assets/fonts/open_sans/ttf/OpenSans_Condensed-Regular.ttf");
	font-weight: 400;
	font-display: fallback;
}
// @font-face {
// 	font-family: "Open Sans";
// 	src: url("../../assets/fonts/open_sans/ttf/OpenSans_Condensed-Italic.ttf");
// 	font-weight: 400;
// 	font-display: fallback;
// }
